<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Log riego electrovalvula: {{electrovalvulaId}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row class="header-row">
      <ion-col>
        <ion-text>Fecha</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>Estado</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let log of this.logs">
      <ion-col>
        <ion-text>
          {{log.fecha  | date:'medium'}}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
        {{log.apertura | apertura}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
<br>
<ion-button expand="block" shape="round"  routerLink="/dispositivos/{{dispositivoId}}">
  <ion-icon slot="end" name="arrow-back"></ion-icon>
</ion-button>
<ion-button expand="block" shape="round"  routerLink="/home">
  <ion-icon slot="end" name="home"></ion-icon>
</ion-button>
</ion-content>