<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dispositivo: {{dispositivos.electrovalvulaId}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="highcharts" style="width:100%; height:300px;"></div>
  <br>
  <ion-button expand="block" shape="round" (click)="changeStatusValvula()"> 
    <p *ngIf="!this.statusValvula || this.onErrorEV"> Abrir Electroválvula</p>
    <p *ngIf="this.statusValvula" > Cerrar Electroválvula</p>
  <ion-icon slot="start" name="power"></ion-icon>
</ion-button>
  <ion-button expand="block" shape="round" routerLink="/mediciones/{{dispositivos.electrovalvulaId}}" >
      <p >Mediciones</p>
      <ion-icon slot="start" name="speedometer"></ion-icon>
  </ion-button>
  <ion-button expand="block" shape="round" routerLink="/logriego/{{dispositivos.electrovalvulaId}}">
      <p>logs de riego</p>
      <ion-icon slot="start" name="clipboard"></ion-icon>
  </ion-button>
  <ion-button expand="block" shape="round"  routerLink="/home">
    <ion-icon slot="end" name="home"></ion-icon>
  </ion-button>
</ion-content>
